* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.rects {
	width: 600px;
	height: 600px;
	font-size: 0;
	margin: 50px auto;
	background: #ccc;
}

.rect {
	width: 200px;
	height: 200px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	border: 1px solid #eee;
	color: #eee;
	padding: 80px;
}
