* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	color: #333;
}

.wrapper {
	max-width: 800px;
	margin: 50px auto;
	background: #eee;
	padding: 20px 15px;
	border-radius: 5px;
}

.input-group {
	display: flex;
	justify-content: space-between;
}

input, .input {
	padding: 10px;
	margin: 0 10px;
	border-radius: 5px;
	border: 1px solid #f90;
	outline: none;
	width: 30%;
}

input::placeholder {
	font-size: 12px;
	color: #888;
}

input:focus, .input:focus {
	box-shadow: inset 0 0 5px #ccc;
}

.btn-calc {
	display: block;
	padding: 10px 30px;
	margin: 20px auto 0;
	border-radius: 5px;
	border: 1px solid #A0522D;
	outline: none;
	background: #f90;
	color: #FFF;
	font-size: 16px;
	text-transform: uppercase;
}

.btn-calc:hover {
	box-shadow: inset 0 0 10px #A0522D;
}

.messageBox {
	display: none;
	color: #A0522D;
	border: 1px solid #f90;
	border-radius: 5px;
	font-weight: bold;
	font-size: 20px;
	padding: 15px;
	text-align: center;
	transition: all .5s;
}

.show {
	display: block;
	width: 70%;
	margin: 20px auto 0;
}
