.fa-male {
    font-size: 4em;
    margin-right: 10px;
    cursor: pointer;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #FFF;
    cursor: pointer;
    margin: 20px 20px 20px 0;
}

.peoples-div {
    margin: 20px 0;
}

.add {
    background: #00CED1;
}

.del {
    background: #EE82EE;
}

.addDiv {
    background: #F90;
}
