* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	color: #333;
	background: #eee;
}

.wrapper {
	max-width: 800px;
	margin: 50px auto;
	padding: 0 15px;
}

.counter {
	display: flex;
	justify-content: space-between;
	margin: 25px 0;
}

.btn {
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
	outline: none;
	color: #FFF;
	text-transform: uppercase;
	cursor: pointer;
}

.next {
	background: #9ACD32;
}

.prev {
	background: #FD6347;
}

.btn:hover {
	box-shadow: inset 0 0 10px 1px #333;
}

.outputBox {
	border-radius: 5px;
	border: 1px solid #333;
	padding: 10px 30px;
	flex: 1 1 auto;
	margin: 0 10px;
	text-align: center;
	font-weight: bold;
}
