* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1, .h1 {
    padding: 16px 0;
    text-align: center;
}

.wrapper {
    max-width: 100vw;
    margin: 0px auto;
    padding: 0 15px;
}

.slider {
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 100%;
}

.slider img {
    margin: 0 auto;
    width: 100%;
}

.slider .btn {
    padding: 8px;
    border: none;
    border-radius: 50%;
    outline: none;
    color: #FFF;
    cursor: pointer;
    background: #333;
    position: absolute;
    top: 50%;
}

.prev {
    left: 1%;
}

.next {
    right: 1%;
}
